body { font-family: Arial; background:#f4f4f4; margin:0; }
header { background:#1a1a1a; color:white; padding:20px; text-align:center; }
nav { text-align:center; margin:20px; }
button { padding:10px; margin:5px; cursor:pointer; }
.section { width:85%; margin:auto; padding:25px; border-radius:8px; }
.architecture { background:#e3f2fd; }
.express { background:#e8f5e9; }
.zod { background:#fff3e0; }
.mysql { background:#ede7f6; }
.react { background:#fce4ec; }
.integration { background:#ede7f6; }
.security { background:#ffebee; }
.exercice { background:#e0f2f1; }
.hidden { display:none; }
pre { background:#111; color:#00ff88; padding:15px; overflow:auto; }